<div class="box body">
  <figure>
    <figcaption>
      Login
    </figcaption>
    <div>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <fieldset>
          <legend>
            Insira os Dados para a Autenticação.
          </legend>
          <p>
            <label for="text">
              Email
            </label>
          </p>
          <input class="full" type="email" id="email" name="email" placeholder="Insira seu Email" [(ngModel)]="email" required>
          <br /> <br>
          <p>
            Senha
          </p>
          <input class="full" type="password" id="password" name="password" placeholder="Insira sua Senha" [(ngModel)]="password" required>
          <button class="full" type="submit" >
            Acessar
          </button>
          <br><br>
          <p>
            <em>
              <a href="signup">
                Criar uma nova conta
              </a>
            </em>
          </p>
        </fieldset>
      </form>
    </div>
  </figure>
</div>
