<div class="mx-5 mt-2">
    <mat-form-field class="mx-2" appearance="fill">
      <mat-label>Por Level</mat-label>
      <mat-select>
        <mat-option>
          Sem Dados ainda
        </mat-option>
      </mat-select>
    </mat-form-field> 

      <mat-form-field class="mx-2" appearance="fill">
        <mat-label>Por Posição</mat-label>
        <mat-select>
          <mat-option>
            Sem Dados ainda
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mx-2" appearance="fill">
        <mat-label>Por Idade</mat-label>
        <mat-select>
          <mat-option>
            Sem Dados ainda
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>